# Test files
*main.c
10-linked_lists.c
*main.py
6-max_integer.py
*main.js
*data.js
0x0F-python-object_relational_mapping/*.sql
6-model_state.py

# Python utilities
__pycache__/

# Misc
hidden_4.pyc
.vscode/
.vagrant.d

# Temp files
*.swp
*~
